<h2>Create New Deck</h2>
<form method="POST" action="/stock">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Deck Name:</label>
      <input type="text" name="item_name" id="item_name"/>
    </div>

    <div class="form-el">
      <label for="name">Quantity:</label>
      <input required min="1" type="number" name="inventory" id="inventory"/>
    </div>

    <div class="form-el">
      <label for="name">Price</label>
      <input required min="1" type="number" name="price" id="price"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Create New Deck"/>
    </div>

  </div>
</form>
