<h1>Current Rentals</h1>

<% for rental in @rentals %>

<ul>
  <li>
    <a href="/rentals/<%= rental.id %>"><%= rental.customer.name %>
      <%= rental.stock.item_name%>
    </a>
  </li>
</ul>

<% end %>
