<h2>Edit <%= @customer.name %></h2>
<form method="POST" action="/customers/<%= @customer.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name"> Name:</label>
      <input type="text" name="name" id="name" value="<%= @customer.name %>"/>
    </div>


    <div class="form-el">
      <input type="submit" value="Customer Edit"/>
    </div>

  </div>
</form>
